.options-nav{
    background: #005582;
    
    .nav-title{
        color: #efe;
        font-family: Caveat;
        font-size: 3rem;
    }
    .nav-item{
        a{
            color: #efe;
            font-family: Caveat;
            font-size: 1.3rem;
        }
        
        .active{
            background: #0086ad;
            color:#daf8e3;
        }
    }
}